<% content_for :head do %>
  <title>Crisp Dry Cleaning & Laundry: About </title>
  <meta name="title" content="Crisp Dry Cleaning & Laundry: About " />
  <meta name="description" content="Crisp dry cleaning & laundry is a business which lets you get your dry cleaning/laundry done around your lifestyle. It is an online platform that allows you to book a cleaning service. You choose the pickup date and we’ll take care of the rest." />
  <meta name="keywords" content="dry cleaners in london, laundry service, london dry cleaners, shirt service, shirt laundry,  alterations, household laundry , wash & fold service, dry cleaning delivery, dry cleaning at home, dry cleaning at office, dry cleaning pick up and delivery, cheap dry cleaning" />
<% end %> 
<div id="content">
  <div id="content_c1">
    <h1>ABOUT US</h1>
  </div>

  <div id="content_c2">
    <h2>What is Crisp Dry Cleaning & Laundry?</h2>
    <p>Crisp dry cleaning & laundry is a business which lets you get your dry cleaning/laundry done around your lifestyle. It is an online platform that allows you to book a cleaning service. You choose the pickup date and we’ll take care of the rest. We will collect, clean and deliver right to your doorstep or office, whichever you prefer!
    <ul>
      <li>Crisp is the service that we have wanted but could not find, so we decided to do it ourselves!</li>
      <li>You earn points for every pound you spend. Once you get to 100 points you receive a £5.00 code to use towards your next order. 
      </li>
      <li>It’s ideal for those who leads busy lifestyles</li>
      <li>Working parents whose time outside of work is limited. </li>
      <li>Professional/office workers</li>
    </ul>
    </p>

    <h2>Who are we?</h2>
    <p>We see ourselves as digital disruptor's of an age old industry which we believe is still lagging behind somewhere in the 20th century. But don’t be fooled by our fresh clean look! Our team has over 40 years combined experience in this industry, so we know a thing or two about cleaning your precious garments. 
    We have the privilege of serving high profile clientele in and around the city from CEOs, footballers, TV & film personalities to lawyers and bankers. So you can be safe in the knowledge that we’ll take care of you to!</p>

    <h2>What’s our Aim?</h2>
    <p>Our aim is to make the entire process of dry cleaning/laundry a lesser chore for you, a service which fits in to the way you live and most importantly a service which is simple. 
    All you have to do is point the mouse and click!</p>

  </div>

  <br class="clearfloat" />
</div>
