<% content_for :head do %>
  <title>Crisp Dry Cleaning & Laundry: Blog</title>
  <meta name="title" content="Crisp Dry Cleaning & Laundry: Blog" />
  <meta name="description" content="The Crisp Dry Cleaning & Laundry Blog. For all offers, news and tips from our team!" />
  <meta name="keywords" content="crisp dry cleaning & laundry blog, dry cleaning blog, laundry blog, dry cleaners in london, laundry service, london dry cleaners, shirt service, shirt laundry,  alterations, household laundry , wash & fold service, dry cleaning delivery, dry cleaning at home, dry cleaning at office, dry cleaning pick up and delivery, cheap dry cleaning" />
<% end %>
<div id="content">
  <div id="content_c1">
    <h1>BLOG</h1>
  </div>

  <div id="content_c2">
    <p>Nullam et odio ut leo varius consequat vel quis lectus. Duis pellentesque lorem vel arcu egestas interdum. Suspendisse massa ligula, fringilla faucibus pretium quis, porta ac odio. Cras vitae velit felis. Nullam imperdiet laoreet lorem, sed ullamcorper ligula lobortis non. Cras pretium facilisis odio, vitae viverra velit tincidunt vel. Aliquam metus augue, iaculis quis sollicitudin ultrices, mattis vitae tellus. Suspendisse a est quis nunc elementum volutpat.</p>
    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut justo erat, ullamcorper vitae dapibus ut, ultrices non dolor. Proin molestie tempor convallis. Vestibulum non nulla nec dui convallis hendrerit eu a elit. Nam id velit neque, eget consectetur est. Phasellus quam tellus, suscipit vel fringilla vitae, commodo in dui.</p>

    <h2>Main Heading</h2>
    <p>Nulla gravida suscipit velit, vitae luctus lacus aliquet eget. Duis volutpat varius ullamcorper. Donec feugiat imperdiet nulla, ut auctor velit sodales semper. Quisque in lacus quis lorem convallis sollicitudin. Proin tristique porta augue et commodo.</p>

    <h3>Sub Heading</h3>
    <p>In vitae sapien erat, eget posuere lectus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam congue erat at enim molestie rutrum. Nullam pharetra leo at enim interdum eget tincidunt est tempus. Ut luctus neque in lacus eleifend faucibus.</p>

    <ul>
      <li>Nulla purus nisi, mattis vel pretium a, aliquam sit amet nisl.</li>
      <li>Proin et augue velit. Cras consequat, nisi porttitor volutpat commodo, nunc nulla faucibus justo, at ornare libero velit ac nulla.</li>
      <li>Duis a metus a mi porta lacinia nec ut purus. Proin lectus est, condimentum non suscipit quis, ornare vitae dui.</li>
    </ul>

    <p>Nullam et odio ut leo varius consequat vel quis lectus. Duis pellentesque lorem vel arcu egestas interdum. Suspendisse massa ligula, fringilla faucibus pretium quis, porta ac odio. Cras vitae velit felis. Nullam imperdiet laoreet lorem, sed ullamcorper ligula lobortis non. Cras pretium facilisis odio, vitae viverra velit tincidunt vel. Aliquam metus augue, iaculis quis sollicitudin ultrices, mattis vitae tellus. Suspendisse a est quis nunc elementum volutpat.</p>
  </div>

  <br class="clearfloat" />
</div>
