<% content_for :head do %>
  <title>Crisp Dry Cleaning & Laundry: Contact us</title>
  <meta name="title" content="Crisp Dry Cleaning & Laundry: Contact us" />
  <meta name="description" content="Crisp HQ, want to contact us? Get in touch for all order, general, media/press enquiries. Best way to contact us is via email (also check FAQ section)" />
  <meta name="keywords" content="crisp dry cleaning & laundry contact, crisp dry cleaning & laundry, dry cleaners in london, laundry service, london dry cleaners, shirt service, shirt laundry,  alterations, household laundry , wash & fold service, dry cleaning delivery, dry cleaning at home, dry cleaning at office, dry cleaning pick up and delivery, cheap dry cleaning" />
<% end %> 
<div id="content">
  <div id="content_c1">
    <h1>CONTACT</h1>
  </div>

  <div id="content_c2">
    <p>Please use the relevant email below for your questions, suggestions & enquiries. We aim to respond within 24hrs to all messages (usually much quicker).</p>

    <h3>All order, account, cleaning enquiries:</h3>

    <p>Email us: <a href="mailto:customerservice@crispcleaners.co.uk">customerservice@crispcleaners.co.uk</a></p>

    <h3>All general enquiries</h3>

    <p>Email us: <a href="mailto:info@crispcleaners.co.uk">info@crispcleaners.co.uk</a></p>

    <h3>Press Enquiries</h3>

    <p>Email us: <a href="mailto:press@crispcleaners.co.uk">press@crispcleaners.co.uk</a></p>  

    <br class="clearfloat" />
    <a href="https://twitter.com/CrispCleaners" class="twitter-follow-button" data-show-count="false">Follow @CrispCleaners</a>
    <script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>

  </div>

  <br class="clearfloat" />
</div>
