<% content_for :head do %>
  <title>Crisp Dry Cleaning & Laundry: FAQ</title>
  <meta name="title" content="Crisp Dry Cleaning & Laundry: FAQ" />
  <meta name="description" content="Crisp Dry Cleaning & Laundry are London's online Dry Cleaning Pick Up and Delivery Service. 48hr Serivce, Collect Loyalty Points and receive  Great Service & Convenience at your home/office! " />
  <meta name="keywords" content="crisp dry cleaners, dry cleaners in london, laundry service, london dry cleaners, shirt service, shirt laundry,  alterations, household laundry , wash & fold service, dry cleaning delivery, dry cleaning at home, dry cleaning at office, dry cleaning pick up and delivery, cheap dry cleaning" />
<% end %> 
<div id="content">
  <div id="content_c1">
    <h1>FAQs</h1>
  </div>

  <div id="content_c2">
    <ul>
      <a href="#faq1"><li>How does the Crisp service work?</li></a>
      <a href="#faq2"><li>Do you offer a next day service?</li></a>
      <a href="#faq3"><li>What services do you offer?</li></a>
      <br/>
      <a href="#faq4"><li>Do I have to pay for Collection and delivery?</li></a>
      <a href="#faq5"><li>Is there a minimum order?</li></a>
      <a href="#faq6"><li>How do I pay for my cleaning?</li></a>
      <a href="#faq27"><li>What is Gocardless?</li></a>
      <a href="#faq28"><li>Are my details safe?</li></a>
      <br/>
      <a href="#faq7"><li>What happens if I’m not at my home/office when my order is being collected/delivered?</li></a>
      <a href="#faq8"><li>Are my clothes safe with you?</li></a>
      <a href="#faq9"><li>What happens if you can not remove a stain?</li></a>
      <br/>
      <a href="#faq10"><li>If a stain can not be removed will I still be charged for the cleaning?</li></a>
      <a href="#faq11"><li>Can you clean something that is not listed on your website?</li></a>
      <a href="#faq12"><li>Why do you charge more for delicate garments?</li></a>
      <br/>
      <a href="#faq13"><li>Why are women’s shirts/blouses more expensive than men’s?</li></a>
      <a href="#faq14"><li>Do you clean Leather/suede?</li></a>
      <a href="#faq15"><li>I am having trouble using a code for my order</li></a>
      <br/>
      <a href="#faq16"><li>I am having trouble changing my personal/card details in my account area</li></a>
    </ul>
    <ol>
      <li id="faq1">
      <h2>How does the Crisp service work?</h2>
      <p>Crisp is a simple, convenient home/office cleaning service and works in 3 easy steps:</p>
      <ol>
        <li>You login and book a collection slot for your cleaning on your preferred date</li>
        <li>Our driver will collect on the specified date. We will then process your cleaning.</li>
        <li>We will deliver your clothes to your home/office within 48 hours. (or next day if specified)</li>
      </ol>
      </li>
      <li id="faq2">
      <h2>Do you offer a next day service?</h2>
      <p>Yes we do. Orders must be placed before 12pm for next day turnaround. Simply check the next day service box when making a booking. There is a 15% surcharge for this service.</p>
      </li>
      <li id="faq3">
      <h2>What services do you offer?</h2>
      <p>Crisp offers the following services:</p>
      <ol>
        <li>Dry Cleaning</li>
        <li>Shirt Service</li>
        <li>Laundry (service washes)</li>
        <li>Household cleaning (duvets, bedspreads etc)</li>
        <li>Alterations/repairs</li>
      </ol>
      <p>Please refer to our pricelist for more details: <%= link_to("Price List", price_lists_path)%></p>
      </li>
      </li>
      <li id="faq4">
      <h2>Do I have to pay for Collection and delivery?</h2>
      <p>No collection and delivery are free as long as you make a minimum order of £10.00.</p>
      </li>
      <li id="faq5">
      <h2>Is there a minimum order?</h2>
      <p>Yes a minimum charge of £10.00 applies to every order. This equates to 5 shirts washed & pressed and two items of clothing dry cleaned. </p>
      </li>
      <li>
      <h2 id="faq6">How do I pay for my cleaning?</h2>
      <p>There are two ways to pay for your cleaning either by credit/debit card or with Gocardless direct debit payment. We will charge for the cleaning once it has been cleaned and dispatched.</p>
      </li>
      <li>
      <h2 id="faq27">What is Gocardless?</h2>
      <p>GoCardless is a direct debit payment service provider. Ideal for those customers who will be using the Crisp service regularly. It requires a one time setup via the GoCardless secure website. Once completed future payments will be taken automatically.</p>
      <p>We will still send you a breakdown of your order cost prior to delivery and will only charge you once you have received your items. </p>
      </li>
      <li>
      <h2 id="faq28">Are my details safe?</h2>
      <p>Yes all details stored on our website are encrypted by DigiCert SSL certificate. Your GoCardless details are securely stored on the payment providers website, which is regulated as a Small Payment Institution by the FSA. </p>
      </li>
      <li id="faq7">
      <h2>What happens if I’m not at my home/office when my order is being collected/delivered?</h2>
      <p>If a collection/delivery is being made from your home/office and you are not available or out we will re-schedule to do a collection/delivery on the next available date.</p>
      <p>
      We will contact you prior so as to determine which date will be suitable for you.
      </p>
      </li>
      <li id="faq8">
      <h2>Are my clothes safe with you?</h2>
      <p>Yes our workers combined have over 40 years experience within the dry cleaning industry, so you can be safe in the knowledge that your clothes are in the safest hands.</p>
      <p>We inspect every item of clothing, making sure to clean the garment according to the manufacturer’s label. For laundry we will separate darks, lights and whites so as to eliminate the risk of colour runs. However if there are specific cleaning instructions for a particular garment please make us aware of this during the order process or via email. If there are any problems our team will be in contact.</p>
      </li>
      <li id="faq9">
      <h2>What happens if you can not remove a stain?</h2>
      <p>Unfortunately there are some instances in which a stain can not be removed. We will notify you of this prior to delivery. But before we arrive at this conclusion we will do everything in our power to try and remove the stain. </p>
      <p>You clothing will go through a four step inspection during its cleaning process, this enables us to identify any stains on the garment as well as maintain our high quality. </p>
      </li>
      <li id="faq10">
      <h2>If a stain can not be removed will I still be charged for the cleaning?</h2>
      <p>
      Yes you will still be charged as the item will have gone through to whole dry cleaning process. 
      </p>
      </li>
      <li id="faq11">
      <h2>Can you clean something that is not listed on your website?</h2>
      <p>
      If you have something that is not listed on our website please contact us and we will tell you whether we can clean it or not. 
      </p>
      </li>
      <li id="faq12">
      <h2>Why do you charge more for delicate garments?</h2>
      <p>We charge more for certain items that we class as delicate. A delicate item can be any of the following:</p>
      <ul>
        <li>Decorative work on an item (sequins, beads, embroidery, buckles)</li>
        <li>Material (Silks, linen, velvet)</li>
      </ul>
      <p>These items can take longer to clean than regular items as our team must give extra care and attention to each garment individually. This therefore results in both an increase in cost and time, which is why delicates are more expensive.</p>
      <p>
      We will only be able to tell of a delicate garment and its cost of cleaning once we have collected them from you. We will email you prior to cleaning with a breakdown of all the costs for your order, and only if you give the go ahead will we continue. 
      </p>

      </li>
      <li id="faq13">
      <h2>Why are women’s shirts/blouses more expensive than men’s?</h2>
      <p>Women’s shirt/blouses do not fit industry standard shirt units, therefore they are all hand pressed. This takes more time and effort on our behalf resulting in higher costs, but the finish is just as good. </p>
      </li>
      <li id="faq14">
      <h2>Do you clean Leather/suede?</h2>
      <p>
      Yes we do clean leather/suede garments. The cleaning process takes longer than normal dry cleaning so please allow a minimum of 1 week for turnaround.
      </p>
      <p>
      Please contact us via email and let us know what you would like to have cleaned and we will get right back to you. 
      </p>
      </li>
      <li id="faq15">
      <h2>I am having trouble using a code for my order</h2>
      <p>Please contact us via email and we will sort this out for you. </p>
      </li>
      <li id="faq16">
      <h2>I am having trouble changing my personal/card details in my account area</h2>
      <p>If you are having any trouble within your my account section please contact us with your problem and one of our staff will help rectify the problem. </p>
      </li>
    </ol>
    <p>
    IF YOU HAVE ANY QUESTION THAT IS NOT ANSWERED ON THIS PAGE PLEASE SEND US AN EMAIL WITH YOUR QUESTION AND WE WILL RESPOND STRAIGHT AWAY,
    </p>
    <p>Email: <a href="mailto:info@crispcleaners.co.uk">info@crispcleaners.co.uk</a></p>
    <a href="https://twitter.com/CrispCleaners" class="twitter-follow-button" data-show-count="false">Follow @CrispCleaners</a>
    <script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
  </div>

  <br class="clearfloat" />
</div>
