<% content_for :head do %>
  <title>Crisp Dry Cleaning & Laundry: Media</title>
  <meta name="title" content="Crisp Dry Cleaning & Laundry: Media" />
  <meta name="description" content="Interested in writing a story about Crisp? We’d be more than happy to answer any of your questions. Email: press@crispcleaners.co.uk or catch us via twitter:www.twitter.com/crispcleaners" />
  <meta name="keywords" content="Crisp Dry Cleaning, Crisp Dry cleaning & laundry media, dry cleaners in london, laundry service, london dry cleaners, shirt service, shirt laundry,  alterations, household laundry , wash & fold service, dry cleaning delivery, dry cleaning at home, dry cleaning at office" />
<% end %>  
<div id="content">
  <div id="content_c1">
    <h1>MEDIA</h1>
  </div>

  <div id="content_c2">

    <p>For any Press/Media enquiries please contact us @ the email below or via twitter.</p>

    <p>Email: <a href="mailto:press@crispcleaners.co.uk">press@crispcleaners.co.uk</a></p>

    <a href="https://twitter.com/CrispCleaners" class="twitter-follow-button" data-show-count="false">Follow @CrispCleaners</a>
    <script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
  </div>
</div>
