<% content_for :head do %>
  <title>Crisp Dry Cleaning &amp; Laundry</title>
<% end %>  
<div id="content">
  <div id="content_c1">
    <h1>Privacy Policy</h1>
  </div>

  <div id="content_c2">
    <p>We here at Crisp headquarters are not the type to read line after line of the privacy policy on other websites. Therefore we have made our policy as simple and straightforward as possible.</p>

    <h2>Crisp’s Privacy Policy</h2>
    <ol>
      <li>We will never use your personal details for any purpose except for internal Crisp business. Which basically means for when we are dealing with your orders, account admin/enquiries or email marketing. </li>
      <li>Your personal details will not be sold or shared to any third party individual /business...ever. </li>
    </ol>

    <p>Nice and simple wouldn't you say?....</p>

  </div>

  <br class="clearfloat" />
</div>
