<p>Hey there</p><br/>

<p>You should start using Crisp Dry Cleaning & Laundry too!</p> <br/>

<p>It’s really easy and convenient. You book your collection online, a driver will come around to collect your cleaning from your home or office and deliver it all back within 48hrs looking great! Plus the prices are really competitive!.</p> <br/>

<p>See you soon</p><br/>

<p><%= @user.first_name %></p><br/>
<p><a href="http://crisp.cumulus.ws"><img src="http://crisp.cumulus.ws/images/header/logo.jpg?1319001926" alt="Logo"></a></p>

