<p>Hi <%= @user.name %></p>
<br/>
<p>Congratulations on reaching 100 Points with Crisp! Here is your £5.00 coupon code that can be used the next time you make an order.</p>
<br/>
<p>Coupon Code : <%= @loyalty_code.discount_code %></p>
<br/>
<p>Enjoy!</p>
<br/>
<p>Team Crisp</p>
<br/>
<p><a href="http://crisp.cumulus.ws"><img src="http://crisp.cumulus.ws/images/header/logo.jpg?1319001926" alt="Logo"></a></p>
