<br/>
<p>Hi <%= @user.first_name %></p>
<br/>
<p>We are writing to let you know that your order has been dispatched and is out with our delivery van. You should be expecting a visit from one of our drivers today so stay alert! </p>
<br/>
<p>
  Have a great day!
</p>
<br/>
<p>Team Crisp</p>
<p><a href="http://crisp.cumulus.ws"><img src="http://crisp.cumulus.ws/images/header/logo.jpg?1319001926" alt="Logo"></a></p>

