<p>Hi <%= @user.first_name %></p>
<br/>
<p>Welcome to Crisp Dry Cleaning & Laundry, it’s great to have you on board!</p>
<br/>
<p>Here are your login details</p>
<br/>
<p>Number: <%= @user.home_number %></p> 
<br/>
<p>Password: <%= @password %></p>
<br/>
<p>You probably want to go and book your first order, head on over to <a href="www.crispcleaners.co.uk">www.crispcleaners.co.uk</a> and select the book a collection button, it won’t even take five minutes!</p>
<br/>
<p>If you ever have any problems or questions drop us an email at <a href="mailto:customerservices@crispcleaners.co.uk">customerservices@crispcleaners.co.uk</a> and we’ll get right back to you.</p> 
<br/>
<p>Also don’t forget to follow us on twitter! <a href="www.twitter.com/crispcleaners">www.twitter.com/crispcleaners</a></p>
<br/>
<p>We’ll see you soon!</p>
<br/>
<p>Team Crisp</p>
<br/>
<p><a href="http://crisp.cumulus.ws"><img src="http://crisp.cumulus.ws/images/header/logo.jpg?1319001926" alt="Logo"></a></p>

