<div id="payment_details_instructions" >
  <p>Please Note:</p>
  <ol>
    <li>Your debit/credit card will only be charged once your<br /> order 
    has been processed and dispatched for delivery. </li>
    <li> Your card details are securely stored within your my <br />account area so that you can enjoy a faster booking<br /> process. <br/>
    <li>If you wish to change your card details you can do <br />so by
    going to your My Account page.</li>
  </ol>
</div>
