<div id="content" class="order-history admin">
  <div id="content_c1">
    <h1><%= @user.name %>'s ORDER HISTORY</h1>
  </div>
  <div id="content_c2">
    <%= render :partial => 'shared/user_orders' %>
  </div>
</div>

