<!-- Content Outer -->
<div id="content-outer">
  <div id="content">
    <div class="faq">
      <h3>Frequently Asked Questions</h3>
      <ul class="questions">
        <li><a href="#">You've got questions, we've got answers.</a></li>
      </ul>
    </div>
    <ul class="container">
      <li>
      <h3>How do I pay?</h3>
      <p>If you choose a monthly price plan you will set up a direct debit via GoCardless. Once this is set up we will bill you monthly for the agreed price. If you decide to go with our pay as you go plan we will send you a payment link for every order of cleaning that you do with us.</p>
      </li>
      <li class="block">
      <h3>What If I go over my plan limits?</h3>
      <p>If you go over the price plan limit you will be charged extra for each garment that goes over the limit. If possible you can upgrade to a higher price plan.</p>
      </li>
      <li>
      <h3>How do I use your Corporate Service?</h3>
      <p>You simply select the price plan that serves you best and register your details online. Once that’s done you will need to take your cleaning to the Crisp station in your workplace, fill in the form and place it into a laundry bag with your cleaning. We will collect, clean and return your cleaning on the specified day. </p>
      </li>
      <li class="block">
      <h3>When do you Pick up and Deliver at my workplace?</h3>
      <p>To check when we collect/deliver at your workplace please refer to the Crisp station located in your building which will have the day and time of collection/delivery as well as a price list. if you need help locating please either contact your HR department or contact us via email <%= mail_to("info@crispcleaners.co.uk") %> or via twitter @crispcleaners.</p>
      </li>
    </ul>     
  </div>
</div>
