<div id="content" class="order-history admin">
  <div id="content_c1">
    <h1>ORDER HISTORY</h1>
    <%= render :partial => 'accounts/navigation'%>
  </div>
  <div id="content_c2">
    <%= render :partial => 'shared/order_details' %>
    <p id="accounts_back"><%= link_to image_tag("/images/common/back_button.jpg"), account_path %></p>
  </div>
</div>

